@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: linear-gradient(#30336b, #2b2e5f, #212449, #181a35, #121327, #0b0c18, black);
  color: white;
}

h1 {
  font-size: 8rem;
  background: linear-gradient(45deg, #6b21a8, #7621ff, #8120ff, #c020ff, #a21caf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.signupButton {
  color: white;
  font: inherit;
  width: 15%;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.85rem 1.5rem;
  border: none;
  background-image: linear-gradient(45deg, #6b21a8, #7621ff, #8120ff, #c020ff, #a21caf);
  border-radius: 35px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  font-weight: bold;
  text-decoration: none;
}

.signupButton:hover {
  background-image: none;
  background-color: #c020ff;
}

.bounce {
  animation: bounce 2s infinite ease-in-out;
}

.navbar.fixed {
  background-color: #30336b;
}

.navlink {
  transition: color 0.3s ease;
}

.navlink:hover {
  color: #c020ff; /* Change the color to whatever you prefer */
}

.market-update-title {
  background: linear-gradient(45deg, #fb923c, #f97316, #ea580c, #c2410c, #9a3412, #7c2d12);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.market-table-container {
  margin-top: 20px;
  width: 55%;
}

.market-table-header {
  background-image: linear-gradient(45deg, #fb923c, #f97316, #ea580c, #c2410c, #9a3412, #7c2d12);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 1rem 1rem;
  border-radius: 5px;
  margin-bottom: 10px;
}

.market-table-header h3:first-child{
  text-align: start;
}

.market-table-header h3:last-child{
  text-align: end;
}

.market-table-header h3 {
  font-size: 18px;
  font-weight: bold;
}

.market-table-item {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 1.25rem 1rem;
  color: white;
  border-bottom: white 1px solid;
  margin-bottom: 10px;
}

.market-table-item div:first-child{
  text-align: start;
}

.market-table-item div:last-child{
  text-align: end;
}

.info-title {
  font-size: 4.5rem;
  background: linear-gradient(45deg, #6b21a8, #7621ff, #8120ff, #c020ff, #a21caf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.icons {
  color: #a21caf;
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.info-card {
  box-shadow: 1px 1px 8px 6px rgba(245, 241, 255, 0.2);
}


@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

